@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #d78022;
}

ul {
    list-style: none;
}

body {
    font-family: 'Pretendard-Regular';
    font-size: 16px;
    line-height: 30px;
    color: black;
}

#top {
      position: relative;
    overflow: hidden;
}

#top img {
    display: block;
    margin: auto;
    background-size: cover;
    width: 100%;
}
.top_sub {
    height: 100px;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    width: 1320px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.top_sub li{
    width: 20%;
}


.top_sub li a {
    display: block;
    color: #d78022;
    font-size: 20px;
}
.top_sub li a:hover{
    color: white;
    text-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
}
#top h3 {
    position: absolute;
    width: 100%;
    top: 66%;
    left: 0%;
    text-align: center;
    color: white;
    font-family: 'Pretendard-Regular';
    font-size: 35px;
    text-shadow: 5px 5px 5px rgb(0 0 0 / 70%);

}
#top h5 {
    position: absolute;
    width: 100%;
    top: 74%;
    left: 0%;
    text-align: center;
    color: white;
    font-family: 'Pretendard-Light';
    font-size: 30px;
    text-shadow: 5px 5px 5px rgb(0 0 0 / 70%);
    animation: ani 2s ease 1s;
}
/* 영상 */
.video{
    width: 1320px;
    /* height: 640px; */
    margin: 100px auto;
}

/* 체크인 */
#main1 {
    width: 800px;
    margin: 50px auto;
    height: 50px;
    position: relative;
}
.form_left {
    padding-bottom: 80px;
    border-bottom: 1px solid black;
}
.form_left div {
    float: left;
    text-align: center;
    padding-right: 30px;
}
#main1 a {
    display: inline-block;
    background-color: #332c3a;
    color: white;
    padding: 13px 30px;
    position: absolute;
    top: 0;
    right: 0;
}
#main2 {
    width: 760px;
    height: 50px;
    margin: 30px auto;
    background-color: #f2f2f2;
    padding: 20px 20px 0px 20px;
}
#main2 a {
    display: inline-block;
    color: #d78022;
    margin-top: -29px;
}

.main2_right {
    float: right;
}
.main_left {
    text-align: center;
    color: #3c3b39;
}

/* 객실 패키지 */
#main3 {
    width: 100%;
    margin: 0px auto;
    overflow: hidden;
}
#main3 h3 {
    text-align: center;
    color: #d78022;
    font-family: 'Pretendard-Bold';
    margin-bottom: 10px;
    padding-top: 10px;
}
#main3 p{
    text-align: center;
}

.main3_inner {
    width: 1400px;
    margin: 150px auto;
}
/* 다이닝 */
.B{
    background-color: #ddd;
    text-align: center;
}
#main3 h1 {
    text-align: center;
    color: #d78022;
    font-family: 'Pretendard-Bold';
    margin-bottom: 10px;
    padding-top: 15px;
}

/* 포토갤러리 */
#main4 {
    width: 100%;
    text-align: center;
    overflow: hidden;
}
#main4 h1 {
    color: #d78022;
    font-family: 'Pretendard-Bold';
    margin-bottom: 10px;
    margin-top: 30px;
}
#main4 p {
    text-align: center;
    color: #3c3b39;
    padding-bottom: 10px;
}

/* 푸터 */
#footer {
    width: 100%;
    background-color: #ddd;
    padding: 36px 0;
    color: #d78022;
    font-size: 14px;
    margin-top: 80px;
    text-align: left;

}
.footer_inner{
    width: 1320px;
    margin: 0 auto;
    position: relative;
}
#footer p{
    text-align: left;
    color: #000;
}
.sns{
    position: absolute;
    top: 0;
    right: 11%;
}
.sns a img:hover{
    opacity: 0.3;
}
.sns a{
    padding: 10px;
}

/* 모바일
@media (max-width: 799px)
.m_nav {
    display: block;
}
.m_nav {
    display: none;
} */